apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lexecon-data
  labels:
    app: lexecon
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
