apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: lexecon
  labels:
    app: lexecon
    release: prometheus
spec:
  selector:
    matchLabels:
      app: lexecon
  endpoints:
  - port: http
    path: /metrics
    interval: 30s
    scrapeTimeout: 10s
    honorLabels: true
    relabelings:
    - sourceLabels: [__meta_kubernetes_pod_node_name]
      targetLabel: node
    - sourceLabels: [__meta_kubernetes_namespace]
      targetLabel: namespace
  namespaceSelector:
    matchNames:
    - default
